<section id="contact" class="mb-3">
  <h1 class="text-2xl   font-bold">{{text.contact_title}}</h1>
  <p>
    {{text.contact}}
  </p>
</section>
<section id="about">
  <h1 class="text-2xl   font-bold">{{text.about_title}}</h1>
  <p>
    {{ text.about}}
  </p>
</section>
<section id="experience" class="mb-3">
  <h2 class="text-2xl  font-bold">{{ text.experience_title}}</h2>
  <h1 class="text-lg  font-bold">{{text.experience_1_title}}</h1>
  <h1 class="text-lg  font-bold">{{text.experience_1_time}}</h1>
  <p>
    {{ text.experience_1_description}}
  </p>
  <h1 class="text-lg  font-bold">{{text.experience_2_title}}</h1>
  <h1 class="text-lg  font-bold">{{text.experience_2_time}}</h1>
  <p>
    {{ text.experience_2_description}}
  </p>

</section>
<section id="education" class="mb-3"></section>
<section id="certifications" class="mb-3"></section>
<section id="languages" class="mb-3"></section>
<section id="other-courses" class="mb-3"></section>
