<section class="text-gray-600 body-font hover:scale-105 transition duration-300">
  <div class="container px-5 mx-auto">
    <div class="p-5 bg-white flex items-center mx-auto border-b  mb-10 border-gray-200 rounded-lg sm:flex-row flex-col">

      <!-- Institution logo  -->

      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 flex flex-col items-center justify-center align-middle gap-4 flex-shrink-0">
        <img src="../../../../../assets/images/{{certification.logo}}" />
      </div>

      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">

        <!-- Title and Subtitle  -->
        <h1 class="text-black text-2xl title-font font-bold mb-2">{{certification.title}}</h1>

        <!-- Description -->
        <div class="md:flex font-bold text-gray-800 p-2">
          <div class="w-full flex space-x-3 text-justify">
              <h2 class="text-gray-800">{{certification.description}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
